<nav class="navbar is-warning" aria-label="main navigation">
    <div class="navbar-brand">
        <!-- navigation bar title -->
        <a class="navbar-item">
            {{title}}
        </a>
    </div>
    <div class="navbar-menu is-active">
        <!-- update breweries if it doesn't do it automatically -->
        <div class="navbar-end">
            <a class="navbar-item" (click)="update();">
                Update breweries
            </a>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <div class="field">
                                <!-- search bar -->
                                <p class="control">
                                    <input class="input" [(ngModel)]="searchQuery" placeholder="Search ...">
                                </p>
                            </div>
                            <div class="field has-addons">
                                <!-- location search bar -->
                                <div class="control">
                                    <input class="input" [(ngModel)]="geolocationQuery" placeholder="Address ...">
                                </div>
                                <div class="control">
                                    <a class="button" (click)="getDistances()">
                                        Search
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- if google found more than one result for location search bar, show them all here -->
                <div class="card" *ngIf="geolocationArray.length > 0">
                    <div class="card-content">
                        <div class="select is-multiple">
                            <select title="geolocation-results" multiple size="{{geolocationArray.length}}">
                                <option *ngFor="let result of geolocationArray"
                                        (click)="sortByDistance(result.geometry.location.lat, result.geometry.location.lng)">
                                    {{result.formatted_address}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <!-- show the list of breweries -->
                <div class="card-padding-bottom" *ngFor="let brewery of breweries">
                    <article class="message is-primary">
                        <div class="message-header">
                            <p>{{brewery.name}}</p>
                        </div>
                        <div class="message-body">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag">City</span>
                                        <span class="tag is-primary">{{brewery.city}}</span>
                                    </div>
                                </div>
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag">Address</span>
                                        <span class="tag is-primary">{{brewery.address}}</span>
                                    </div>
                                </div>
                                <!-- if distance has been defined, also show distance -->
                                <div class="control" *ngIf="brewery.distance">
                                    <div class="tags has-addons">
                                        <span class="tag">Distance</span>
                                        <!-- format distance in kilometers -->
                                        <span class="tag is-primary">{{brewery.distance / 1000 | number : '1.2-2'}} km</span>
                                    </div>
                                </div>
                            </div>
                            <article class="message is-success" *ngIf="brewery.open.length > 0">
                                <div class="message-header">
                                    <p>Opening days</p>
                                </div>
                                <div class="message-body">
                                    <div class="field is-grouped is-grouped-multiline">
                                        <div class="control" *ngFor="let open of brewery.open">
                                            <div class="tags has-addons">
                                                <span class="tag is-success">{{open}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- show the beers they have -->
                            <div class="box" *ngFor="let beer of brewery.beers">
                                <div class="content">
                                    <h4>{{beer.name}}</h4>
                                    <p>Style: {{beer.style}}<br>
                                        Volume: {{beer.volume}}<br>
                                        Alcohol: {{beer.alcohol}}<br>
                                        Keg: {{beer.keg}}</p>
                                </div>
                            </div>
                            <div class="box" *ngIf="brewery.beers.length === 0">
                                <div class="content">
                                    <h4>Geen bieren gevonden</h4>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Beer Searcher</strong> by Wesley Wouters.
            </p>
        </div>
    </div>
</footer>
